.topnav {
  margin: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: -70px;
  top: -13%;
  position: relative;
  height: 11%;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .topnav {
    top: 0%;
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 102%;
    justify-content: center;
    align-items: center;
  }

  .topnav-left {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-bottom: 10px;
    align-items: center;
  }

  .topnav-left h1 {
    font-size: 25px;
    text-align: center;
  }

  .topnav-right {
    width: 100%;
    justify-content: space-around;
    margin-right: 0;
  }

  .topnav-right-home,
  .topnav-right-profile,
  .topnav-right-ba {
    width: auto;
    height: auto;
  }

  .topnav-right-home i,
  .topnav-right-profile i,
  .topnav-right-ba i {
    font-size: 1.5rem;
  }
}

.topnav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  width: 80%;
}

.topnav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  margin-right: 7px;
}

.topnav-right-home,
.topnav-right-profile,
.topnav-right-ba {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topnav-right-home i,
.topnav-right-profile i,
.topnav-right-ba i {
  font-size: 2.5rem;
}
