<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <link rel="icon" href="/static/glaskugel.png" />
    <link rel="apple-touch-icon" href="/static/logo192.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="stylesheet" href="/static/topnav.css" />
    <link rel="stylesheet" href="/static/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Chewy&family=Golos+Text:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/b30115917b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="topnav">
      <div class="topnav-left">
        <h1>Prognosen-Anwendung</h1>
      </div>
      <div class="topnav-right">
        <div class="topnav-right-home">
          <a href="/">
            <span style="font-size: 1em; color: rgb(134, 0, 171)"
              ><i class="fa-solid fa-house"></i
            ></span>
          </a>
        </div>
        <div class="topnav-right-profile">
          <a href="./profile.html">
            <span style="font-size: 1em; color: rgb(134, 0, 171)"
              ><i class="fa-solid fa-user"></i
            ></span>
          </a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="main-title">
        <h1>Home</h1>
      </div>
      <div class="main-top">
        <form id="query-form">
          <textarea
            id="prompt"
            name="prompt"
            placeholder="Gebe hier an, worüber du Auskunft erhalten möchtest"
            required
          ></textarea>
        </form>
      </div>
      <div class="main-mid">
        <button class="submit-button" id="submit-button" type="button">
          <img class="glaskugel" src="../static/glaskugel-farblos.png" alt />
        </button>
      </div>
      <div class="main-bottom">
        <div id="result"></div>
      </div>

      <div id="result-modal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <div id="modal-result"></div>
        </div>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var queryForm = document.getElementById("query-form");
          var resultElement = document.getElementById("result");
          var submitButton = document.querySelector(".submit-button");
          var glaskugelImage = document.querySelector(".glaskugel");
          var promptInput = document.getElementById("prompt");
          var modal = document.getElementById("result-modal");
          var modalResult = document.getElementById("modal-result");
          var closeButton = document.querySelector(".close-button");

          function submitForm() {
            if (!queryForm.checkValidity()) {
              queryForm.reportValidity();
              return;
            }

            promptInput.classList.add("shake");
            submitButton.classList.add("shake");

            var prompt = promptInput.value.trim();
            fetch("/query", {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
              body: "prompt=" + encodeURIComponent(prompt),
            })
              .then((response) => response.json())
              .then((data) => {
                promptInput.classList.remove("shake");
                submitButton.classList.remove("shake");
                modalResult.innerText = data.result;
                resultElement.style.display = "none"; // Result ausblenden
                modal.style.display = "block"; // Modal anzeigen
              });
          }

          queryForm.addEventListener("submit", function (e) {
            e.preventDefault();
            submitForm();
          });

          submitButton.addEventListener("click", function () {
            submitForm();
          });

          glaskugelImage.addEventListener("click", function () {
            submitForm();
          });

          closeButton.addEventListener("click", function () {
            modal.style.display = "none";
          });

          window.addEventListener("click", function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          });
        });
      </script>
    </div>
  </body>
</html>
